.Rproj.user
.Rhistory
.RData
.Ruserdata
src/*.o
src/*.so
src/*.dll
foieGras.Rproj
.Rproj.user
*.so
*.o
.Rhistory
vignettes/*.html
vignettes/*.R
.DS_Store
src/.DS_Store
data/rope.RData
cran-comments.md
CRAN-RELEASE
docs
data/sese_fit.RDS
rosm.cache
for_remotes.R
/doc/
/Meta/
/misc/
